body
{
    font-family: 'Inter', sans-serif; font-size: 16px;
}
  
 a{
     text-decoration: none;
 }
 
 
 .big-text{font-size:50px;font-weight:800;font-family:Inter;padding:20px;text-align:center}
 
 .buttom{padding: 18px 28px;color:#fff; display:inline-block;border-radius:4px}
  
 @media (max-width: 500px) {
     .big-text{font-size:40px;}
article {
margin: 0 2px;
}
}
 
    
 
 .header{
  height:60px; 
  width:100%;
  position: fixed;
  top:0;
  left:50%;
  transform: translateX(-50%);
  padding: 15px; 
  display: flex;
  max-width: 1350px;
  background: #000 ;
 }
  
 .menu{
    
    width:100%;
 }
 .menu li{display: inline-block;}
 .menu li a{color: #fff; 
            padding: 7px;
            font-size: 21px;
            display:block;}
     .cta{
   position: 100%;
   
   font-size: 20px;
                      
   max-width: 1350px;
   padding: 26px; 
      
 }
 @media (max-width: 768px) {
  .menu{
      position:absolute; top:0; right:0;background:royalblue; height:100vh;
  }
article {
margin: 0 2px;
}
}


 .titolo{
   
     height:500px;
     display: flex; width:100%; align-items: center;
     background: linear-gradient(0deg, rgba(0,0,0,.3), rgba(0,0,0,0.9) ),url('sfondo.jpg') no-repeat center center;
     background-size:cover;
     color: #fff;
   
 }
 .titolo_content{
     
     width:100%;
     max-width: 1350px;
     margin: 0 auto;

 }
 .titolo_content h1
 .titolo_content p1(color:#fff;)

 .paragrafo{
     display:flex;
     height:fit-content;
      
    
 }
 .paragrafo_ing{width100%; text-align:center;  border: 2px solid #000; border-radius: 10px;
     margin:80px;
}           
  .paragrafo_ing img{object-fit:cover;width:80%; height:100%  ;      

}
.titolo_paragrafo{
     width:100%;
     text-align:center;
     font-size:20px;
     font-weight:90;
     font-family:Inter,Helvetica;
     padding:20px;
     line-height:2px;
     font-style: none; 
     color:#000; 
}

.paragrafo_content{
     width:90% ;
     text-align:center;
     font-size:16px;
     font-weight:300;
     font-family:Inter,Helvetica;
     font-style: none; 
     padding: 40px;
     line-height:25px;
     color:#000;
     } 

  

   





  .footer{
  height:50px;
  background:#000;
   font-size:6px;
     font-weight:800;
     font-family:Inter,Helvetica;
     font-style: none; 
     padding: 3px;
     line-height:30px;
     color: #fff;
  }

 

   



 